body {
    background-color: #EDF3F6;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
}

.bookBox {
    padding: 20px;
    margin: 20px;
    border-radius: 1rem;
    text-align: center;
    background-color: white;
    min-width: 500px;
    

}

.bookBox img {
    height: 450px;

}

.bookBox h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}